<launch>

    <arg name="gui" default="true" />
    <arg name="load_gripper" default="true" />
    <arg name="arm_id" default="panda" />
    <arg name="robot_description" default="robot_description" />
    <arg name="rvizconfig" default="$(find aipr_support_2306)/rviz/sim.rviz" />

    <node pkg="tf" type="static_transform_publisher" name="broadcaster_tf_link0" args="0 0 0 0 0 0 /world /panda_link0 100"/>


    <arg name="load_robot_description" default="true" />
    <!-- load URDF, SRDF and joint_limits configuration -->
    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="$(arg load_robot_description)" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
        <arg name="arm_id" value="$(arg arm_id)" />
    </include>

    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <rosparam param="/source_list">[cmd/joint_position]</rosparam>
    </node>
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="/source_list">[cmd/joint_position]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


    <!-- CONTROLLER -->
    <node name="robot_joint_vel_control" pkg="aipr_support_2306" type="robot_joint_vel_control" required="true" output="screen" />
    <node name="target_frame_generator" pkg="aipr_support_2306" type="target_frame_generator" required="true" output="screen" />

</launch>